<%= form_with model: [campaign, non_player_character] do |form| %>
    <%= render layout: 'shared/form_fields', locals: { form: form } do %>
        <div class="container">
            <%= form.collection_checkboxes :location_ids, @campaign.locations, :id, :name %>
        </div>
        <br>
    <% end %>
<% end %>
