<%= form_with model: [campaign, location] do |form| %>
    <%= render layout: 'shared/form_fields', locals: { form: form } do %>
        <div class="container">
            <%= form.collection_checkboxes :non_player_character_ids, @campaign.non_player_characters, :id, :name %>
        </div>
        <br>
    <% end %>
<% end %>
